    <!-- ===== Start of Footer ===== -->
    <footer>
        <!-- Start of Top Footer -->
        <div class="top-footer">
            <div class="container">

                <!-- Start of Footer Information & Links Section -->
                <div class="row ptb60 footer-info">
                    <!-- 1st Footer Column -->
                    <div class="col-sm-3 about">
                        <a href="index-2.html"><img src="images/logo-blue.png" alt=""></a>
                        <p class="pt30">Lorem ipsum dolor sit amet, ectetur adipiscing elit.viverra tellus. Vivamus finibus, quam vitae pulvinar euismod, Lorem ipsum dolor sit amet, ectetur adipiscing elit.</p>
                    </div>

                    <!-- 2nd Footer Column -->
                    <div class="col-sm-3">
                        <h4>Important Links</h4>
                        <ul class="footer-links nopadding mt30">
                            <li><a href="#">About us</a></li>
                            <li><a href="#">How to use</a></li>
                            <li><a href="#">Technologies Used</a></li>
                        </ul>
                    </div>

                    <!-- 3rd Footer Column -->
                    <div class="col-sm-3">
                        <h4>Products</h4>
                        <ul class="footer-links nopadding mt30">
                            <li><a href="#">E-commerce web builder</a></li>
                            <li><a href="#">Business Website web builder</a></li>
                        </ul>
                    </div>

                    <!-- 4th Footer Column -->
                    <div class="col-sm-3">
                        <h4>Contact Us</h4>
                        <ul class="footer-links nopadding mt30">
                            <li><i class="fa fa-phone"></i>0416-222-2222</li>
                            <li><i class="fa fa-envelope"></i>info@Webunlocked.com</li>
                            <li><i class="fa fa-map-marker"></i>Vellore,India</li>
                        </ul>
                    </div>
                </div>
                <!-- End of Footer Information & Links Section -->

            </div>
        </div>
        <!-- End of Top Footer -->

        <!-- Start of Copyright Section -->
        <div class="copyright ptb20 text-center">
            Copyright &copy; Web Unlocked. All Rights Reserved
        </div>
        <!-- End of Copyright Section -->

    </footer>