    <!-- ===== Start of Header Navigation ===== -->
    <header class="fixed">
        <nav class="navbar navbar-default navbar-static-top fluid_header centered transparent">
            <div class="container">

                <!-- Logo -->
                <div class="col-md-2 col-sm-3 col-xs-3">
                    <a class="navbar-brand" href="index-2.html"><img src="images/logo-blue.png"></a>
                    <!-- INSERT YOUR LOGO HERE -->
                </div>

                <!-- ======== Start of Main Menu ======== -->
                <div class="col-md-10 col-sm-9 col-xs-9">
                    <div class="navbar-header page-scroll">
                        <button type="button" class="navbar-toggle toggle-menu menu-right push-body" data-toggle="collapse" data-target="#main-nav" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>

                    <div class="collapse navbar-collapse pull-right cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="main-nav">
                        <ul class="nav navbar-nav navbar-right">
                            <!-- Simple Menu Item -->
                            <li class="dropdown simple-menu active">
                                <a href="index.html" class="dropdown-toggle"  role="button">home<i class="fa fa-caret-down"></i></a>
                            </li>
                            <li class="dropdown simple-menu active">
                                <a href="login.html" class="dropdown-toggle"  role="button">Login<i class="fa fa-caret-down"></i></a>
                            </li>
                            <li class="dropdown simple-menu active">
                                <a href="signup.html" class="dropdown-toggle"  role="button">Signup<i class="fa fa-caret-down"></i></a>
                            </li>                            

                            

                        </ul>
                    </div>
                </div>
                <!-- ======== End of Main Menu ======== -->

            </div>
        </nav>
    </header>