<!DOCTYPE html>

<html lang="en">


<!-- Mirrored from gnodesign.com/templates/cloudify/html/blog-post.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 19 Jan 2017 13:13:53 GMT -->
{{>header}}
<body>


    <!-- ===== Loader ===== -->
    <div class="loader">
        <div class="spinner">
            <div class="cloud1"><img src="images/clouds/cloud-blue.svg" alt=""></div>
            <div class="cloud2"><img src="images/clouds/cloud-green.svg" alt=""></div>
        </div>
    </div>
    <!-- ===== End of Loader ===== -->


    <!-- ===== Top Header ===== -->
    <div class="top-header">
        <div class="container">
            <div class="row">
                <!-- phone and social begin -->
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <ul class="social list-inline ptb10">
                        <li><a href="tel:12345678912">123 - 456 - 78912</a></li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                    </ul>
                </div>
                <!-- phone and social end -->

                <div class="col-md-6 col-sm-6 col-xs-12">
                    <!-- chat and account button begin -->
                    <ul class="top-button ptb10">
                        <li>
                            <a href="#" class="btn btn-small btn-border btn-green customer-support"><i class="fa fa-comments"></i>live chat</a>
                        </li>
                        <li class="login">
                            <a id="modal_trigger" class="btn btn-small btn-border-rev btn-blue" href="#"><i class="fa fa-user"></i>Client Area</a>
                        </li>
                    </ul>
                    <!-- chat and account button end -->
                </div>
            </div>
        </div>
    </div>
    <!-- ===== End of Top Header ===== -->




    <!-- ===== Start of Header Navigation ===== -->
    {{>navbar}}
    <!-- ===== End of Header Navigation ===== -->





    <!-- ===== Start of Page Title ===== -->
    <section class="page-title ptb50 overlay-black">
        <div class="container">
            <h2 class="uppercase">Blog post</h2>
            <div class="breadcrumbs pt10">
                <h5><a href="index-2.html">Home</a> / Blog</h5>
            </div>
        </div>
    </section>
    <!-- ===== End of Page Title ===== -->



    <!-- ===== Start of Blog Post Main Section ===== -->
    <section class="blog-post pt80 pb60">
        <div class="container">

            <!-- Start of Post Title -->
            <div class="col-md-12 post-title">
                <h2 class="uppercase">grow your business by working with cloudify</h2>

                <!-- Post Details -->
                <ul class="post-detail list-inline pt10">
                    <li><i class="fa fa-user"></i> Author</li>
                    <li><i class="fa fa-clock-o"></i> 4:30pm</li>
                    <li><i class="fa fa-comments-o"></i> 12 Comments</li>
                </ul>
            </div>
            <!-- End of Post Title -->

            <!-- Start of Post Content -->
            <div class="col-md-12 post-content mt20">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
                <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

                <!-- Post Image -->
                <div class="post-img nopadding mtb40">
                    <img src="images/blog/blog4.jpg" class="img-responsive" alt="">
                </div>

                <!-- Subtitle -->
                <h3 class="uppercase pb20">Subtitle</h3>

                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>

                <!-- Post Quote -->
                <div class="col-md-12 post-quote ptb20">
                    <blockquote>Social media is not about the exploitation of technology but service to community.</blockquote>
                </div>

                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

                <!-- Social Media Buttons -->
                <div class="share mt30">
                    <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A//themeforest.net/item/cloudify-one-page-web-hosting-html-template/18398632" target="_blank" class="share-icon fb"><i class="fa fa-facebook"></i></a>
                    <a href="https://twitter.com/home?status=https%3A//themeforest.net/item/cloudify-one-page-web-hosting-html-template/18398632" target="_blank" class="share-icon tw"><i class="fa fa-twitter"></i></a>
                    <a href="https://plus.google.com/share?url=https%3A//themeforest.net/item/cloudify-one-page-web-hosting-html-template/18398632" target="_blank" class="share-icon gp"><i class="fa fa-google-plus"></i></a>
                    <span class="uppercase">share <i class="fa fa-share-alt"></i></span>
                </div>

            </div>
            <!-- End of Post Content -->

        </div>
    </section>
    <!-- ===== End of Blog Post Main Section ===== -->




    <!-- ===== Start of Blog Post Comments Section ===== -->
    <section class="blog-comments pb80">
        <div class="container main-content">
            <div class="col-md-12">
                <h3 class="uppercase pb40">4 comments</h3>
            </div>

            <div class="col-md-12">
                <!-- Start of Comment List -->
                <ul class="comments-list">

                    <!-- Start of Comment 1 -->
                    <li class="comment">
                        <!-- Commenter Image -->
                        <a class="pull-left commenter" href="#">
                            <img src="images/team/team1.jpg" alt="" class="img-responsive">
                        </a>

                        <div class="media-body comment-body">
                            <!-- Comment Wrapper -->
                            <div class="comment-content-wrapper">
                                <div class="media-heading clearfix">

                                    <!-- Commenters Name -->
                                    <h4 class="capitalize">john doe</h4>

                                    <div class="comment-reply pull-right">
                                        <a href="#" class="btn">reply</a>
                                    </div>

                                    <!-- Comment Info -->
                                    <div class="comment-info">
                                        <time>Dec 11, 2016 at 7:49 am</time>
                                    </div>

                                    <!-- Comment -->
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                </div>

                                <!-- ==== Start of Comment Replies ==== -->
                                <ul class="comment-replies">

                                    <!-- Start of Comment Reply 1 -->
                                    <li class="comment comment-replied">
                                        <!-- Commenter Image -->
                                        <a class="pull-left commenter" href="#">
                                            <img src="images/team/team2.jpg" alt="" class="img-responsive">
                                        </a>

                                        <div class="media-body comment-body">
                                            <!-- Comment Wrapper -->
                                            <div class="comment-content-wrapper">
                                                <div class="media-heading clearfix">

                                                    <!-- Commenters Name -->
                                                    <h4 class="capitalize">john doe</h4>

                                                    <!-- Comment Info -->
                                                    <div class="comment-info">
                                                        <time>Dec 11, 2016 at 7:51 am</time>
                                                    </div>

                                                    <!-- Comment -->
                                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                                </div>
                                            </div>
                                            <!-- End of Comment Wrapper -->
                                        </div>
                                    </li>
                                    <!-- End of Comment Reply 1 -->

                                    <!-- Start of Comment Reply 2 -->
                                    <li class="comment comment-replied">
                                        <!-- Commenter Image -->
                                        <a class="pull-left commenter" href="#">
                                            <img src="images/team/team1.jpg" alt="" class="img-responsive">
                                        </a>

                                        <div class="media-body comment-body">
                                            <!-- Comment Wrapper -->
                                            <div class="comment-content-wrapper">
                                                <div class="media-heading clearfix">

                                                    <!-- Commenters Name -->
                                                    <h4 class="capitalize">john doe</h4>

                                                    <!-- Comment Info -->
                                                    <div class="comment-info">
                                                        <time>Dec 11, 2016 at 7:52 am</time>
                                                    </div>

                                                    <!-- Comment -->
                                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                                </div>
                                            </div>
                                            <!-- End of Comment Wrapper -->
                                        </div>
                                    </li>
                                    <!-- End of Comment Reply 2 -->

                                </ul>
                                <!-- ==== End of Comment Replies ==== -->
                            </div>
                            <!-- End of Comment Wrapper -->
                        </div>
                    </li>
                    <!-- End of Comment 1 -->


                    <!-- Start of Comment 2 -->
                    <li class="comment">
                        <!-- Commenter Image -->
                        <a class="pull-left commenter" href="#">
                            <img src="images/team/team2.jpg" alt="" class="img-responsive">
                        </a>

                        <div class="media-body comment-body">
                            <!-- Comment Wrapper -->
                            <div class="comment-content-wrapper">
                                <div class="media-heading clearfix">

                                    <!-- Commenters Name -->
                                    <h4 class="capitalize">john doe</h4>

                                    <div class="comment-reply pull-right">
                                        <a href="#" class="btn">reply</a>
                                    </div>

                                    <!-- Comment Info -->
                                    <div class="comment-info">
                                        <time>Dec 12, 2016 at 8:51 am</time>
                                    </div>

                                    <!-- Comment -->
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                </div>
                            </div>
                            <!-- End of Comment Wrapper -->
                        </div>
                    </li>
                    <!-- End of Comment 2 -->


                    <!-- Start of Comment 3 -->
                    <li class="comment">
                        <!-- Commenter Image -->
                        <a class="pull-left commenter" href="#">
                            <img src="images/team/team3.jpg" alt="" class="img-responsive">
                        </a>

                        <div class="media-body comment-body">
                            <!-- Comment Wrapper -->
                            <div class="comment-content-wrapper">
                                <div class="media-heading clearfix">

                                    <!-- Commenters Name -->
                                    <h4 class="capitalize">john doe</h4>

                                    <div class="comment-reply pull-right">
                                        <a href="#" class="btn">reply</a>
                                    </div>

                                    <!-- Comment Info -->
                                    <div class="comment-info">
                                        <time>Dec 13, 2016 at 8:55 am</time>
                                    </div>

                                    <!-- Comment -->
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                </div>
                            </div>
                            <!-- End of Comment Wrapper -->
                        </div>
                    </li>
                    <!-- End of Comment 3 -->

                </ul>
                <!-- End of Comment List -->

                <!-- Start of Comment Submit Form -->
                <div class="row mt40">
                    <div class="col-md-12 pb20">
                        <h3 class="uppercase">Leave a comment</h3>
                    </div>

                    <form id="comment-form">
                        <div class="col-md-5">
                            <input class="form-control input-box mb15" type="text" name="name" placeholder="Your Name">
                        </div>

                        <div class="col-md-5">
                            <input class="form-control input-box mb15" type="email" name="email" placeholder="youremail@cloudify.com">
                        </div>

                        <div class="col-md-10">
                            <textarea class="form-control textarea-box mb15" rows="8" name="message" placeholder="Type your message..."></textarea>
                        </div>
                        <div class="col-md-5 comment-require">
                            <p>All fields are required.</p>
                        </div>
                        <div class="col-md-5 comment-require">
                            <button class="btn btn-border btn-blue btn-dark pull-right" type="submit">Send your message</button>
                        </div>
                    </form>
                </div>
                <!-- End of Comment Submit Form -->

            </div>
        </div>
    </section>
    <!-- ===== End of Blog Post Comments Section ===== -->





    <!-- ===== Start of Footer ===== -->
    {{>footer}}
    <!-- ===== End of Footer ===== -->



    <!-- ===== Start of Live Chat ===== -->
    <div class="live-chat collapsed">

        <!-- start of live chat header -->
        <div class="header">
            <a href="#" onclick="return(false);" class="chat-close"><i class="fa fa-times"></i></a>
            <h4>Live Chat</h4>
            <span class="chat-message-counter">1</span>
        </div>
        <!-- end of live chat header -->

        <!-- start of chat -->
        <div class="chat">
            <!-- start of chat history -->
            <div class="chat-history">
                <!-- start of chat message -->
                <div class="chat-message">
                    <img src="images/team/team1.jpg" alt="">
                    <!-- start of chat message content -->
                    <div class="chat-message-content">
                        <span class="chat-time">18:35</span>
                        <h5>Customer Support</h5>
                        <p>Welcome. How may I help you?</p>
                    </div>
                    <!-- end of chat message content -->
                </div>
                <!-- end of chat message -->
                <hr>

                <!-- start of chat message -->
                <div class="chat-message">
                    <img src="images/team/team1.jpg" alt="">
                    <!-- start of chat message content -->
                    <div class="chat-message-content">
                        <span class="chat-time">18:36</span>
                        <h5>John Doe</h5>
                        <p>Hello. Can you please help me to transfer my domain from my previous server?</p>
                    </div>
                    <!-- end of chat message content -->
                </div>
                <!-- end of chat message -->
                <hr>
            </div>
            <!-- end of chat history -->

            <p class="chat-feedback">Customer Support is typing…</p>
            <!-- start of chat form -->
            <form action="#" method="post" onsubmit="this.reset(); return false;">
                <fieldset>
                    <input type="text" placeholder="Type your message…">
                </fieldset>
            </form>
            <!-- end of chat form -->
        </div>
        <!-- end of chat -->
    </div>
    <!-- ===== End of Live Chat ===== -->



    <!-- ===== Start of Login Pop Up div ===== -->
    <div class="cd-user-modal">
        <!-- this is the entire modal form, including the background -->
        <div class="cd-user-modal-container">
            <!-- this is the container wrapper -->
            <ul class="cd-switcher">
                <li><a href="#0">Sign in</a></li>
                <li><a href="#1">New account</a></li>
            </ul>

            <div id="cd-login">
                <!-- log in form -->
                <form class="cd-form">
                    <p class="fieldset">
                        <label class="image-replace cd-email" for="signin-email">E-mail</label>
                        <input class="full-width has-padding has-border" id="signin-email" type="email" placeholder="E-mail">
                    </p>
                    <p class="fieldset">
                        <label class="image-replace cd-password" for="signin-password">Password</label>
                        <input class="full-width has-padding has-border" id="signin-password" type="password" placeholder="Password">
                    </p>
                    <p class="fieldset">
                        <input type="checkbox" id="remember-me" checked>
                        <label for="remember-me">Remember me</label>
                    </p>
                    <p class="fieldset">
                        <button type="submit" value="Login" class="btn btn-border btn-blue">Login</button>
                    </p>
                </form>
            </div>
            <!-- cd-login -->

            <div id="cd-signup">
                <!-- sign up form -->
                <form class="cd-form">
                    <p class="fieldset">
                        <label class="image-replace cd-username" for="signup-username">Username</label>
                        <input class="full-width has-padding has-border" id="signup-username" type="text" placeholder="Username">
                    </p>
                    <p class="fieldset">
                        <label class="image-replace cd-email" for="signup-email">E-mail</label>
                        <input class="full-width has-padding has-border" id="signup-email" type="email" placeholder="E-mail">
                    </p>
                    <p class="fieldset">
                        <label class="image-replace cd-password" for="signup-password">Password</label>
                        <input class="full-width has-padding has-border" id="signup-password" type="password" placeholder="Password">
                    </p>
                    <p class="fieldset">
                        <input type="checkbox" id="accept-terms">
                        <label for="accept-terms">I agree to the <a href="#0">Terms</a></label>
                    </p>
                    <p class="fieldset">
                        <button class="btn btn-border btn-blue" type="submit" value="Create account">Create Account</button>
                    </p>
                </form>
            </div>
            <!-- cd-signup -->
        </div>
        <!-- cd-user-modal-container -->
    </div>
    <!-- cd-user-modal -->
    <!-- ===== End of Login Pop Up div ===== -->



    <!-- ===== All Javascript at the bottom of the page for faster page loading ===== -->
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/swiper.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/simple-expand.min.js"></script>
    <script src="js/jquery.countTo.js"></script>
    <script src="js/jquery.inview.min.js"></script>
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/jquery.nav.js"></script>
    <script src="js/jquery.ajaxchimp.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/jquery.easypiechart.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/isotope.pkgd.min.js"></script>
    <script src="js/custom.js"></script>
    
 <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','../../../../www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-60264400-3', 'auto');
  ga('send', 'pageview');

</script>

</body>


<!-- Mirrored from gnodesign.com/templates/cloudify/html/blog-post.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 19 Jan 2017 13:13:53 GMT -->
</html>