<!DOCTYPE html>

<html lang="en">


<!-- Mirrored from gnodesign.com/templates/cloudify/html/blog-listing.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 19 Jan 2017 13:13:45 GMT -->
{{>header}}


    <!-- ===== Loader ===== -->
    <div class="loader">
        <div class="spinner">
            <div class="cloud1"><img src="images/clouds/cloud-blue.svg" alt=""></div>
            <div class="cloud2"><img src="images/clouds/cloud-green.svg" alt=""></div>
        </div>
    </div>
    <!-- ===== End of Loader ===== -->


    <!-- ===== Top Header ===== -->
    <div class="top-header">
        <div class="container">
            <div class="row">
                <!-- phone and social begin -->
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <ul class="social list-inline ptb10">
                        <li><a href="tel:12345678912">123 - 456 - 78912</a></li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                    </ul>
                </div>
                <!-- phone and social end -->

                <div class="col-md-6 col-sm-6 col-xs-12">
                    <!-- chat and account button begin -->
                    <ul class="top-button ptb10">
                        <li>
                            <a href="#" class="btn btn-small btn-border btn-green customer-support"><i class="fa fa-comments"></i>live chat</a>
                        </li>
                        <li class="login">
                            <a id="modal_trigger" class="btn btn-small btn-border-rev btn-blue" href="#"><i class="fa fa-user"></i>Client Area</a>
                        </li>
                    </ul>
                    <!-- chat and account button end -->
                </div>
            </div>
        </div>
    </div>
    <!-- ===== End of Top Header ===== -->




    <!-- ===== Start of Header Navigation ===== -->
    {{>navbar}}
    <!-- ===== End of Header Navigation ===== -->





    <!-- ===== Start of Page Title ===== -->
    <section class="page-title ptb50 overlay-black">
        <div class="container">
            <h2 class="uppercase">Blog listing</h2>
            <div class="breadcrumbs pt10">
                <h5><a href="index-2.html">Home</a> / Blog</h5>
            </div>
        </div>
    </section>
    <!-- ===== End of Page Title ===== -->



    <!-- ===== Start of Blog Listing Main Section ===== -->
    <section class="blog-listing ptb80">
        <div class="container nopadding">
            <div class="row nomargin blog-grid">

                <!-- Start of Blog Post 1 with Image Thumbnail -->
                <div class="element col-md-4 col-xs-12">
                    <article class="blog-single pb30 shadow">
                        <!-- Post Thumbnail -->
                        <div class="blog-post-thumbnail normal-post">
                            <a href="blog-post.html" class="hover-link"><img src="images/blog/blog3.jpg" alt=""></a>
                        </div>

                        <!-- Post Detail -->
                        <div class="blog-post-title pt30 pb10">
                            <h3><a href="blog-post.html">Working with Cloudify</a></h3>
                            <p class="nomargin pt5">By <a class="blog-author" href="#">John Doe</a> <span class="blog-date">17 October 2016</span></p>
                        </div>
                        <div class="blog-post-details pt20">
                            <p class="nomargin pb20">Ea mei nostrum imperdiet deterruisset, mei ludus efficiendi ei. Sea summo mazim ex, ea errem eleifend definitionem vim.Malorum temporibus vix ex...</p>
                            <a class="blog-more-btn" href="blog-post.html">Read More <i class="fa fa-long-arrow-right"></i></a>
                        </div>
                    </article>
                </div>
                <!-- End of Blog Post 1 -->

                <!-- Start of Blog Post 2 without Thumbnail -->
                <div class="element col-md-4 col-xs-12">
                    <article class="blog-single pb30 shadow">
                        <!-- Post Detail -->
                        <div class="blog-post-title pt30 pb10">
                            <h3><a href="blog-post.html">Simple Post</a></h3>
                            <p class="nomargin pt5">By <a class="blog-author" href="#">admin</a> <span class="blog-date">18 October 2016</span></p>
                        </div>
                        <div class="blog-post-details pt20">
                            <p class="nomargin pb20">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the</p>
                            <a class="blog-more-btn" href="blog-post.html">Read More <i class="fa fa-long-arrow-right"></i></a>
                        </div>
                    </article>
                </div>
                <!-- End of Blog Post 2 -->

                <!-- Start of Blog Post 3 with Thumbnail Slider -->
                <div class="element col-md-4 col-xs-12">
                    <article class="blog-single pb30 shadow">

                        <!-- Post Thumbnail -->
                        <div class="blog-post-thumbnail">
                            <!-- Start of Thumbnail Post Slider -->
                            <div class="owl-carousel post-thumbnail-slider">
                                <!-- Slider Item -->
                                <div class="item">
                                    <img src="images/blog/blog4.jpg" alt="">
                                </div>

                                <!-- Slider Item -->
                                <div class="item">
                                    <img src="images/blog/blog2.jpg" alt="">
                                </div>

                                <!-- Slider Item -->
                                <div class="item">
                                    <img src="images/blog/blog5.jpg" alt="">
                                </div>
                            </div>
                            <!-- End of Thumbnail Post Slider -->
                        </div>

                        <!-- Post Detail -->
                        <div class="blog-post-title pt30 pb10">
                            <h3><a href="blog-post.html">Image Gallery Post</a></h3>
                            <p class="nomargin pt5">By <a class="blog-author" href="#">admin</a> <span class="blog-date">17 October 2016</span></p>
                        </div>
                        <div class="blog-post-details pt20">
                            <p class="nomargin pb20">Lorem Ipsum is simply dummy text of the printing and typesetting industry...</p>
                            <a class="blog-more-btn" href="blog-post.html">Read More <i class="fa fa-long-arrow-right"></i></a>
                        </div>
                    </article>
                </div>
                <!-- End of Blog Post 3 -->

                <!-- Start of Blog Post 4 with Quote -->
                <div class="element col-md-4 col-xs-12">
                    <article class="blog-single pb30 shadow">
                        <!-- Post Thumbnail -->
                        <div class="blog-post-thumbnail quote-post">
                            <blockquote class="text-white pt60">Social media is not about the exploitation of technology but service to community.<span class="mt10">- Simon Mainwaring</span></blockquote>
                        </div>

                        <!-- Post Detail -->
                        <div class="blog-post-title pt30 pb10">
                            <h3><a href="blog-post.html">Quote Post</a></h3>
                            <p class="nomargin pt5">By <a class="blog-author" href="#">admin</a> <span class="blog-date">17 December 2016</span></p>
                        </div>
                        <div class="blog-post-details pt20">
                            <p class="nomargin pb20">Lorem Ipsum is simply dummy text of the printing and typesetting industry...</p>
                            <a class="blog-more-btn" href="blog-post.html">Read More <i class="fa fa-long-arrow-right"></i></a>
                        </div>
                    </article>
                </div>
                <!-- End of Blog Post 4 -->

                <!-- Start of Blog Post 5 without Thumbnail -->
                <div class="element col-md-4 col-xs-12">
                    <article class="blog-single pb30 shadow">
                        <!-- Post Detail -->
                        <div class="blog-post-title pt30 pb10">
                            <h3><a href="blog-post.html">Simple Post</a></h3>
                            <p class="nomargin pt5">By <a class="blog-author" href="#">admin</a> <span class="blog-date">18 October 2016</span></p>
                        </div>
                        <div class="blog-post-details pt20">
                            <p class="nomargin pb20">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the</p>
                            <a class="blog-more-btn" href="blog-post.html">Read More <i class="fa fa-long-arrow-right"></i></a>
                        </div>
                    </article>
                </div>
                <!-- End of Blog Post 5 -->

                <!-- Start of Blog Post 6 with Youtube Video -->
                <div class="element col-md-4 col-xs-12">
                    <article class="blog-single pb30 shadow">
                        <!-- Post Thumbnail -->
                        <div class="blog-post-thumbnail">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/PsjFbwIQ8AY?rel=0" frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>

                        <!-- Post Detail -->
                        <div class="blog-post-title pt30 pb10">
                            <h3><a href="blog-post.html">Youtube Video Post</a></h3>
                            <p class="nomargin pt5">By <a class="blog-author" href="#">admin</a> <span class="blog-date">17 December 2016</span></p>
                        </div>
                        <div class="blog-post-details pt20">
                            <p class="nomargin pb20">Lorem Ipsum is simply dummy text of the printing and typesetting industry...</p>
                            <a class="blog-more-btn" href="blog-post.html">Read More <i class="fa fa-long-arrow-right"></i></a>
                        </div>
                    </article>
                </div>
                <!-- End of Blog Post 6 -->

                <!-- Start of Blog Post 7 with Image Thumbnail -->
                <div class="element col-md-4 col-xs-12">
                    <article class="blog-single pb30 shadow">
                        <!-- Post Thumbnail -->
                        <div class="blog-post-thumbnail normal-post">
                            <a href="blog-post.html" class="hover-link"><img src="images/blog/blog2.jpg" alt=""></a>
                        </div>

                        <!-- Post Detail -->
                        <div class="blog-post-title pt30 pb10">
                            <h3><a href="blog-post.html">Cloudify strategy tipps</a></h3>
                            <p class="nomargin pt5">By <a class="blog-author" href="#">John Doe</a> <span class="blog-date">17 October 2016</span></p>
                        </div>
                        <div class="blog-post-details pt20">
                            <p class="nomargin pb20">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the</p>
                            <a class="blog-more-btn" href="blog-post.html">Read More <i class="fa fa-long-arrow-right"></i></a>
                        </div>
                    </article>
                </div>
                <!-- End of Blog Post 7 -->

                <!-- Start of Blog Post 8 with Vimeo Video -->
                <div class="element col-md-4 col-xs-12">
                    <article class="blog-single pb30 shadow">
                        <!-- Post Thumbnail -->
                        <div class="blog-post-thumbnail">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/176916362?title=0&amp;byline=0&amp;portrait=0" frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>

                        <!-- Post Detail -->
                        <div class="blog-post-title pt30 pb10">
                            <h3><a href="blog-post.html">Vimeo Video Post</a></h3>
                            <p class="nomargin pt5">By <a class="blog-author" href="#">admin</a> <span class="blog-date">17 December 2016</span></p>
                        </div>
                        <div class="blog-post-details pt20">
                            <p class="nomargin pb20">Lorem Ipsum is simply dummy text of the printing and typesetting industry...</p>
                            <a class="blog-more-btn" href="blog-post.html">Read More <i class="fa fa-long-arrow-right"></i></a>
                        </div>
                    </article>
                </div>
                <!-- End of Blog Post 8 -->

                <!-- Start of Blog Post 9 without Thumbnail -->
                <div class="element col-md-4 col-xs-12">
                    <article class="blog-single pb30 shadow">
                        <!-- Post Detail -->
                        <div class="blog-post-title pt30 pb10">
                            <h3><a href="blog-post.html">simple post</a></h3>
                            <p class="nomargin pt5">By <a class="blog-author" href="#">admin</a> <span class="blog-date">18 October 2016</span></p>
                        </div>
                        <div class="blog-post-details pt20">
                            <p class="nomargin pb20">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the</p>
                            <a class="blog-more-btn" href="blog-post.html">Read More <i class="fa fa-long-arrow-right"></i></a>
                        </div>
                    </article>
                </div>
                <!-- End of Blog Post 9 -->

                <!-- Start of Blog Post 10 without Thumbnail -->
                <div class="element col-md-4 col-xs-12">
                    <article class="blog-single pb30 shadow">
                        <!-- Post Detail -->
                        <div class="blog-post-title pt30 pb10">
                            <h3><a href="blog-post.html">simple post</a></h3>
                            <p class="nomargin pt5">By <a class="blog-author" href="#">admin</a> <span class="blog-date">18 October 2016</span></p>
                        </div>
                        <div class="blog-post-details pt20">
                            <p class="nomargin pb20">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the</p>
                            <a class="blog-more-btn" href="blog-post.html">Read More <i class="fa fa-long-arrow-right"></i></a>
                        </div>
                    </article>
                </div>
                <!-- End of Blog Post 10 -->

                <!-- Start of Blog Post 11 with Image Thumbnail -->
                <div class="element col-md-4 col-xs-12">
                    <article class="blog-single pb30 shadow">
                        <!-- Post Thumbnail -->
                        <div class="blog-post-thumbnail normal-post">
                            <a href="blog-post.html" class="hover-link"><img src="images/blog/blog1.jpg" alt=""></a>
                        </div>

                        <!-- Post Detail -->
                        <div class="blog-post-title pt30 pb10">
                            <h3><a href="blog-post.html">Latest server upgrade</a></h3>
                            <p class="nomargin pt5">By <a class="blog-author" href="#">John Doe</a> <span class="blog-date">17 October 2016</span></p>
                        </div>
                        <div class="blog-post-details pt20">
                            <p class="nomargin pb20">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the</p>
                            <a class="blog-more-btn" href="blog-post.html">Read More <i class="fa fa-long-arrow-right"></i></a>
                        </div>
                    </article>
                </div>
                <!-- End of Blog Post 11 -->

                <!-- Start of Blog Post 12 with Quote -->
                <div class="element col-md-4 col-xs-12">
                    <article class="blog-single pb30 shadow">
                        <!-- Post Thumbnail -->
                        <div class="blog-post-thumbnail quote-post">
                            <blockquote class="text-white pt60">The science of today is the technology of tomorrow.<span class="mt10">- Edward Teller</span></blockquote>
                        </div>

                        <!-- Post Detail -->
                        <div class="blog-post-title pt30 pb10">
                            <h3><a href="blog-post.html">Quote Post</a></h3>
                            <p class="nomargin pt5">By <a class="blog-author" href="#">admin</a> <span class="blog-date">17 December 2016</span></p>
                        </div>
                        <div class="blog-post-details pt20">
                            <p class="nomargin pb20">Lorem Ipsum is simply dummy text of the printing and typesetting industry...</p>
                            <a class="blog-more-btn" href="blog-post.html">Read More <i class="fa fa-long-arrow-right"></i></a>
                        </div>
                    </article>
                </div>
                <!-- End of Blog Post 12 -->

                <!-- Start of Blog Post 13 with Image Thumbnail -->
                <div class="element col-md-4 col-xs-12">
                    <article class="blog-single pb30 shadow">
                        <!-- Post Thumbnail -->
                        <div class="blog-post-thumbnail normal-post">
                            <a href="blog-post.html" class="hover-link"><img src="images/blog/blog5.jpg" alt=""></a>
                        </div>

                        <!-- Post Detail -->
                        <div class="blog-post-title pt30 pb10">
                            <h3><a href="blog-post.html">Cloudify super speed</a></h3>
                            <p class="nomargin pt5">By <a class="blog-author" href="#">John Doe</a> <span class="blog-date">17 October 2016</span></p>
                        </div>
                        <div class="blog-post-details pt20">
                            <p class="nomargin pb20">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the</p>
                            <a class="blog-more-btn" href="blog-post.html">Read More <i class="fa fa-long-arrow-right"></i></a>
                        </div>
                    </article>
                </div>
                <!-- End of Blog Post 13 -->

                <!-- Start of Blog Post 14 without Thumbnail -->
                <div class="element col-md-4 col-xs-12">
                    <article class="blog-single pb30 shadow">
                        <!-- Post Detail -->
                        <div class="blog-post-title pt30 pb10">
                            <h3><a href="blog-post.html">simple post</a></h3>
                            <p class="nomargin pt5">By <a class="blog-author" href="#">admin</a> <span class="blog-date">18 October 2016</span></p>
                        </div>
                        <div class="blog-post-details pt20">
                            <p class="nomargin pb20">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the</p>
                            <a class="blog-more-btn" href="blog-post.html">Read More <i class="fa fa-long-arrow-right"></i></a>
                        </div>
                    </article>
                </div>
                <!-- End of Blog Post 14 -->

                <!-- Start of Blog Post 15 without Thumbnail -->
                <div class="element col-md-4 col-xs-12">
                    <article class="blog-single pb30 shadow">
                        <!-- Post Detail -->
                        <div class="blog-post-title pt30 pb10">
                            <h3><a href="blog-post.html">simple post</a></h3>
                            <p class="nomargin pt5">By <a class="blog-author" href="#">admin</a> <span class="blog-date">18 October 2016</span></p>
                        </div>
                        <div class="blog-post-details pt20">
                            <p class="nomargin pb20">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the</p>
                            <a class="blog-more-btn" href="blog-post.html">Read More <i class="fa fa-long-arrow-right"></i></a>
                        </div>
                    </article>
                </div>
                <!-- End of Blog Post 15 -->

            </div>
            <!-- End of Row -->

            <!-- Start of Show More Button -->
            <div class="row">
                <div class="col-md-12 text-center">
                    <a href="#" class="btn btn-border btn-blue btn-dark">show more</a>
                </div>
            </div>
            <!-- End of Show More Button -->

        </div>
    </section>
    <!-- ===== End of Blog Listing Main Section ===== -->




    <!-- ===== Start of Buy Now Section ===== -->
    <section class="buy-now ptb80">
        <div class="container">
            <div class="col-md-12 text-center">
                <h2 class="text-white">Do you like <span class="text-blue">Cloudify</span>?</h2>
                <h2 class="text-white pb20">Buy it now and become a Top Hosting Company!</h2>
                <a href="https://themeforest.net/item/cloudify-one-page-web-hosting-html-template/18398632?ref=gnodesign" target="_blank" class="btn btn-border btn-blue text-white nomargin">purchase now</a>
            </div>
        </div>
    </section>
    <!-- ===== End of Buy Now Section ===== -->





    <!-- ===== Start of Footer ===== -->
    {{>footer}}
    <!-- ===== End of Footer ===== -->



    <!-- ===== Start of Live Chat ===== -->
    <div class="live-chat collapsed">

        <!-- start of live chat header -->
        <div class="header">
            <a href="#" onclick="return(false);" class="chat-close"><i class="fa fa-times"></i></a>
            <h4>Live Chat</h4>
            <span class="chat-message-counter">1</span>
        </div>
        <!-- end of live chat header -->

        <!-- start of chat -->
        <div class="chat">
            <!-- start of chat history -->
            <div class="chat-history">
                <!-- start of chat message -->
                <div class="chat-message">
                    <img src="images/team/team1.jpg" alt="">
                    <!-- start of chat message content -->
                    <div class="chat-message-content">
                        <span class="chat-time">18:35</span>
                        <h5>Customer Support</h5>
                        <p>Welcome. How may I help you?</p>
                    </div>
                    <!-- end of chat message content -->
                </div>
                <!-- end of chat message -->
                <hr>

                <!-- start of chat message -->
                <div class="chat-message">
                    <img src="images/team/team1.jpg" alt="">
                    <!-- start of chat message content -->
                    <div class="chat-message-content">
                        <span class="chat-time">18:36</span>
                        <h5>John Doe</h5>
                        <p>Hello. Can you please help me to transfer my domain from my previous server?</p>
                    </div>
                    <!-- end of chat message content -->
                </div>
                <!-- end of chat message -->
                <hr>
            </div>
            <!-- end of chat history -->

            <p class="chat-feedback">Customer Support is typing…</p>
            <!-- start of chat form -->
            <form action="#" method="post" onsubmit="this.reset(); return false;">
                <fieldset>
                    <input type="text" placeholder="Type your message…">
                </fieldset>
            </form>
            <!-- end of chat form -->
        </div>
        <!-- end of chat -->
    </div>
    <!-- ===== End of Live Chat ===== -->



    <!-- ===== Start of Login Pop Up div ===== -->
    <div class="cd-user-modal">
        <!-- this is the entire modal form, including the background -->
        <div class="cd-user-modal-container">
            <!-- this is the container wrapper -->
            <ul class="cd-switcher">
                <li><a href="#0">Sign in</a></li>
                <li><a href="#1">New account</a></li>
            </ul>

            <div id="cd-login">
                <!-- log in form -->
                <form class="cd-form">
                    <p class="fieldset">
                        <label class="image-replace cd-email" for="signin-email">E-mail</label>
                        <input class="full-width has-padding has-border" id="signin-email" type="email" placeholder="E-mail">
                    </p>
                    <p class="fieldset">
                        <label class="image-replace cd-password" for="signin-password">Password</label>
                        <input class="full-width has-padding has-border" id="signin-password" type="password" placeholder="Password">
                    </p>
                    <p class="fieldset">
                        <input type="checkbox" id="remember-me" checked>
                        <label for="remember-me">Remember me</label>
                    </p>
                    <p class="fieldset">
                        <button type="submit" value="Login" class="btn btn-border btn-blue">Login</button>
                    </p>
                </form>
            </div>
            <!-- cd-login -->

            <div id="cd-signup">
                <!-- sign up form -->
                <form class="cd-form">
                    <p class="fieldset">
                        <label class="image-replace cd-username" for="signup-username">Username</label>
                        <input class="full-width has-padding has-border" id="signup-username" type="text" placeholder="Username">
                    </p>
                    <p class="fieldset">
                        <label class="image-replace cd-email" for="signup-email">E-mail</label>
                        <input class="full-width has-padding has-border" id="signup-email" type="email" placeholder="E-mail">
                    </p>
                    <p class="fieldset">
                        <label class="image-replace cd-password" for="signup-password">Password</label>
                        <input class="full-width has-padding has-border" id="signup-password" type="password" placeholder="Password">
                    </p>
                    <p class="fieldset">
                        <input type="checkbox" id="accept-terms">
                        <label for="accept-terms">I agree to the <a href="#0">Terms</a></label>
                    </p>
                    <p class="fieldset">
                        <button class="btn btn-border btn-blue" type="submit" value="Create account">Create Account</button>
                    </p>
                </form>
            </div>
            <!-- cd-signup -->
        </div>
        <!-- cd-user-modal-container -->
    </div>
    <!-- cd-user-modal -->
    <!-- ===== End of Login Pop Up div ===== -->



    <!-- ===== All Javascript at the bottom of the page for faster page loading ===== -->
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/swiper.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/simple-expand.min.js"></script>
    <script src="js/jquery.countTo.js"></script>
    <script src="js/jquery.inview.min.js"></script>
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/jquery.nav.js"></script>
    <script src="js/jquery.ajaxchimp.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/jquery.easypiechart.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/isotope.pkgd.min.js"></script>
    <script src="js/custom.js"></script>
    
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','../../../../www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-60264400-3', 'auto');
  ga('send', 'pageview');

</script>
    
</body>


<!-- Mirrored from gnodesign.com/templates/cloudify/html/blog-listing.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 19 Jan 2017 13:13:53 GMT -->
</html>