<!DOCTYPE html>

<html lang="en">



{{>header}}

<body>


    <!-- ===== Loader ===== -->
    <div class="loader">
        <div class="spinner">
            <div class="cloud1"><img src="images/clouds/cloud-blue.svg" alt=""></div>
            <div class="cloud2"><img src="images/clouds/cloud-green.svg" alt=""></div>
        </div>
    </div>
    <!-- ===== End of Loader ===== -->


    <!-- ===== Top Header ===== -->
    <div class="top-header">
        <div class="container">
            <div class="row">
                <!-- phone and social begin -->
                <!-- phone and social end -->

                <div class="col-md-4 col-sm-6 col-xs-12 col-md-offset-8">
                    <!-- chat and account button begin -->
                    <ul class="top-button ptb10">
                        <li class="login">
                            <a class="btn btn-small btn-border-rev btn-blue" href="dashboard.html"><i class="fa fa-user"></i>Dashboard</a>
                        </li>
                    </ul>
                    <!-- chat and account button end -->
                </div>
            </div>
        </div>
    </div>
    <!-- ===== End of Top Header ===== -->
    
    
    
    
    <!-- ===== Start of Header Navigation ===== -->
    <header class="fixed site-header">
        <nav class="navbar navbar-default navbar-static-top fluid_header centered">
            <div class="container">

                <!-- Logo -->
                <div class="col-md-2 col-sm-3 col-xs-3">
                    <a class="navbar-brand" href="index-2.html"><img src="images/logo-blue.png" alt="logo"></a>
                    <!-- INSERT YOUR LOGO HERE -->
                </div>

                <!-- ======== Start of Main Menu ======== -->
                <div class="col-md-10 col-sm-9 col-xs-9">
                    <div class="navbar-header page-scroll">
                        <button type="button" class="navbar-toggle toggle-menu menu-right push-body" data-toggle="collapse" data-target="#main-nav" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>

                    <div class="collapse navbar-collapse pull-right cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="main-nav">
                        <ul class="nav navbar-nav navbar-right">
                            <!-- Simple Menu Item -->
                            <li class="dropdown simple-menu active">
                                <a href="index.html" class="dropdown-toggle"  role="button">home<i class="fa fa-caret-down"></i></a>
                            </li>

                            <!-- Mega Menu Item -->


                            <!-- Simple Menu Item -->
                            <li class="dropdown simple-menu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Hi Nimesh<i class="fa fa-caret-down"></i></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="blog-listing.html">Dashboard</a></li>
                                    <li><a href="blog-post.html">Logout</a></li>
                                </ul>
                            </li>

                            <!-- Start Total Cart -->
                            <li class="total-cart">
                                <a href="#cart" class="cart">
                                    <i class="fa fa-shopping-cart"></i>
                                    <span class="count btn btn-border btn-blue">2</span>
                                </a>

                                <!-- Cart on hover -->
                                <ul>
                                    <li>
                                        <div class="cart-info">
                                            <h4><a href="#0">Basic Plan</a></h4>
                                            <span>Rs.39.00 <span>x 1</span></span>
                                        </div>
                                        <div class="del-icon">
                                            <i class="fa fa-times-circle"></i>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="cart-info">
                                            <h4><a href="#0">Enterprise Plan</a></h4>
                                            <span>Rs.99.00 <span>x 1</span></span>
                                        </div>
                                        <div class="del-icon">
                                            <i class="fa fa-times-circle"></i>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="subtotal-text">Subtotal:</div>
                                        <div class="subtotal-price">Rs.138.00</div>
                                    </li>
                                    <li>
                                        <div class="cart-btn">
                                            <a href="#check" class="btn btn-border btn-blue">Checkout</a>
                                        </div>
                                    </li>
                                </ul>
                                <!-- End Cart on hover -->
                            </li>
                            <!-- End Total Cart -->

                        </ul>
                    </div>
                </div>
                <!-- ======== End of Main Menu ======== -->

            </div>
        </nav>
    </header>
    <!-- ===== End of Header Navigation ===== -->



    
    
    <!-- ===== Start of Page Title ===== -->
    <section class="page-title ptb50 overlay-black">
        <div class="container">
            <h2 class="uppercase">Cart</h2>
            <div class="breadcrumbs pt10">
                <h5><a href="index-2.html">Home</a> / cart</h5>
            </div>
        </div>
    </section>
    <!-- ===== End of Page Title ===== -->



    <!-- ===== Start of Main Section ===== -->
    <section class="cart-page ptb80">
        <div class="container">

            <!-- ===== Start of Order Content ===== -->
            <div class="col-md-8 col-xs-12">

                <div class="table_block table-responsive">
                    <table class="table cart-content">
                        <thead>
                            <tr>
                                <th class="col-md-5">product</th>
                                <th class="col-md-2">term</th>
                                <th class="col-md-2">price</th>
                                <th class="col-md-1">subtotal</th>
                                <th class="col-md-2">&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Start of Product 1 -->
                            <tr>
                                <td>
                                    <div class="product-name">
                                        <h3>Starter</h3>
                                        <div class="tag-line">
                                            Starter Hosting Plan
                                        </div>
                                    </div>
                                </td>

                                <td>
                                    <div class="term">
                                        <input type="number" value="1">
                                    </div>
                                </td>

                                <td>
                                    <div class="price">
                                        Rs.19.00
                                    </div>
                                </td>

                                <td>
                                    <div class="price">
                                        Rs.19.00
                                    </div>
                                </td>

                                <td>
                                    <div class="delete">
                                        <a href="#"><i class="fa fa-close"></i></a>
                                    </div>
                                </td>
                            </tr>
                            <!-- End of Product 1 -->

                            <!-- Start of Product 2 -->
                            <tr>
                                <td>
                                    <div class="product-name">
                                        <h3>Agency</h3>
                                        <div class="tag-line">
                                            Agency Hosting Plan
                                        </div>
                                    </div>
                                </td>

                                <td>
                                    <div class="term">
                                        <input type="number" value="1">
                                    </div>
                                </td>

                                <td>
                                    <div class="price">
                                        Rs.69.00
                                    </div>
                                </td>

                                <td>
                                    <div class="price">
                                        Rs.69.00
                                    </div>
                                </td>

                                <td>
                                    <div class="delete">
                                        <a href="#"><i class="fa fa-close"></i></a>
                                    </div>
                                </td>
                            </tr>
                            <!-- End of Product 2 -->

                            <!-- Start of Product 3 -->
                            <tr>
                                <td>
                                    <div class="product-name">
                                        <h3>.com Domain</h3>
                                        <div class="tag-line">
                                            Choosen domain
                                        </div>
                                    </div>
                                </td>

                                <td>
                                    <div class="term">
                                        <input type="number" value="2">
                                    </div>
                                </td>

                                <td>
                                    <div class="price">
                                        Rs.4.99
                                    </div>
                                </td>

                                <td>
                                    <div class="price">
                                        Rs.9.98
                                    </div>
                                </td>

                                <td>
                                    <div class="delete">
                                        <a href="#"><i class="fa fa-close"></i></a>
                                    </div>
                                </td>
                            </tr>
                            <!-- End of Product 3 -->

                        </tbody>
                    </table>
                </div>

            </div>
            <!-- ===== End of Order Content ===== -->



            <!-- ===== Start of Proceed to Checkout ===== -->
            <div class="col-md-4 col-xs-12">
                <div class="subtotal-content">

                    <div class="row cart-subtotal">
                        <div class="col-md-6">
                            <h4>Subtotal</h4>
                        </div>
                        <div class="col-md-6 cart-right">
                            <h4>Rs.215.00</h4>
                        </div>
                    </div>

                    <div class="row tax">
                        <div class="col-md-6">
                            <span>Estimated Taxes</span>
                        </div>
                        <div class="col-md-6 cart-right">
                            <span>Rs.2.99</span>
                        </div>
                    </div>

                    <div class="row coupon">
                        <div class="col-md-12">
                            <h4>Coupon</h4>
                        </div>
                        <div class="col-md-6 col-xs-8">
                            <input type="text" placeholder="coupon code">
                        </div>
                        <div class="col-md-6 col-xs-4 cart-right">
                            <a href="#" class="btn btn-border btn-blue">apply code</a>
                        </div>
                    </div>

                    <div class="row order-total">
                        <div class="col-xs-6">
                            <h4>Total<br><span>(Indian Rupees)</span></h4>
                        </div>
                        <div class="col-xs-6 cart-right">
                            <span class="price">Rs.215.00</span>
                        </div>
                    </div>

                    <div class="col-md-12 cta">
                        <a href="#" class="btn btn-border btn-blue btn-dark">Procced to Checkout</a>
                    </div>

                    <div class="row support">
                        <div class="col-md-12">
                            <h4>Any Questions?</h4>
                        </div>
                        <div class="col-md-12">
                            <a href="tel:+91-9952376655">Call us: +91-9952376655</a>
                        </div>
                    </div>

                </div>
            </div>
            <!-- ===== End of Proceed to Checkout ===== -->
        </div>
    </section>
    <!-- ===== End of Main Section ===== -->
    
    
    

    
    



    <!-- ===== Start of Footer ===== -->
   {{>footer}}



    



    <!-- ===== Start of Login Pop Up div ===== -->
    <div class="cd-user-modal">
        <!-- this is the entire modal form, including the background -->
        <div class="cd-user-modal-container">
            <!-- this is the container wrapper -->
            <ul class="cd-switcher">
                <li><a href="#0">Sign in</a></li>
                <li><a href="#1">New account</a></li>
            </ul>

            <div id="cd-login">
                <!-- log in form -->
                <form class="cd-form">
                    <p class="fieldset">
                        <label class="image-replace cd-email" for="signin-email">E-mail</label>
                        <input class="full-width has-padding has-border" id="signin-email" type="email" placeholder="E-mail">
                    </p>
                    <p class="fieldset">
                        <label class="image-replace cd-password" for="signin-password">Password</label>
                        <input class="full-width has-padding has-border" id="signin-password" type="password" placeholder="Password">
                    </p>
                    <p class="fieldset">
                        <input type="checkbox" id="remember-me" checked>
                        <label for="remember-me">Remember me</label>
                    </p>
                    <p class="fieldset">
                        <button type="submit" value="Login" class="btn btn-border btn-blue">Login</button>
                    </p>
                </form>
            </div>
            <!-- cd-login -->

            <div id="cd-signup">
                <!-- sign up form -->
                <form class="cd-form">
                    <p class="fieldset">
                        <label class="image-replace cd-username" for="signup-username">Username</label>
                        <input class="full-width has-padding has-border" id="signup-username" type="text" placeholder="Username">
                    </p>
                    <p class="fieldset">
                        <label class="image-replace cd-email" for="signup-email">E-mail</label>
                        <input class="full-width has-padding has-border" id="signup-email" type="email" placeholder="E-mail">
                    </p>
                    <p class="fieldset">
                        <label class="image-replace cd-password" for="signup-password">Password</label>
                        <input class="full-width has-padding has-border" id="signup-password" type="password" placeholder="Password">
                    </p>
                    <p class="fieldset">
                        <input type="checkbox" id="accept-terms">
                        <label for="accept-terms">I agree to the <a href="#0">Terms</a></label>
                    </p>
                    <p class="fieldset">
                        <button class="btn btn-border btn-blue" type="submit" value="Create account">Create Account</button>
                    </p>
                </form>
            </div>
            <!-- cd-signup -->
        </div>
        <!-- cd-user-modal-container -->
    </div>
    <!-- cd-user-modal -->
    <!-- ===== End of Login Pop Up div ===== -->



   <!-- ===== All Javascript at the bottom of the page for faster page loading ===== -->
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/swiper.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/simple-expand.min.js"></script>
    <script src="js/jquery.countTo.js"></script>
    <script src="js/jquery.inview.min.js"></script>
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/jquery.nav.js"></script>
    <script src="js/jquery.ajaxchimp.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/jquery.easypiechart.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/isotope.pkgd.min.js"></script>
    <script src="js/custom.js"></script>

    
</body>



</html>