<!DOCTYPE html>

<html lang="en">


<!-- Mirrored from gnodesign.com/templates/cloudify/html/coming-soon.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 19 Jan 2017 13:13:44 GMT -->
{{>header}}

<body>

    <!-- ===== Main Section ===== -->
    <div class="coming-soon">
        <!-- Gradient Overlay -->
        <div class="gradient-bg"></div>

        <div class="container coming-main">
            <div class="co-md-12">
                <a class="logo" href="index-2.html"><img src="images/logo.svg" alt="logo"></a>
                <h3>The perfect HTML Template for your Hosting Company is Coming Soon!</h3>
            </div>

            <!-- Countdown Section -->
            <div class="row countdown mt100">
                <ul class="col-md-12">
                    <li class="col-md-3 col-sm-3 col-xs-12">
                        <span class="days"></span>
                        <p>Day</p>
                    </li>
                    <li class="col-md-3 col-sm-3 col-xs-12">
                        <span class="hours"></span>
                        <p>Hours</p>
                    </li>
                    <li class="col-md-3 col-sm-3 col-xs-12">
                        <span class="minutes"></span>
                        <p>Minutes</p>
                    </li>
                    <li class="col-md-3 col-sm-3 col-xs-12">
                        <span class="seconds"></span>
                        <p>Seconds</p>
                    </li>
                </ul>
            </div>
            <!-- End of Countdown Section -->

            <div class="col-md-12 cta mtb60 text-center">
                <a href="https://themeforest.net/item/cloudify-one-page-web-hosting-html-template/18398632?ref=gnodesign" class="btn btn-border btn-blue text-white" target="_blank">Purchase</a>
                <a href="index-2.html" class="btn btn-border btn-blue text-white">Back home</a>
            </div>

        </div>
    </div>
    <!-- ===== End of Main Section ===== -->



    <!-- ===== All Javascript at the bottom of the page for faster page loading ===== -->
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/countdown.js"></script>
    <script src="js/jquery.ajaxchimp.js"></script>
    <script>
        $(document).ready(function () {
            "use strict";
            $(".countdown").countdown({
                    date: "30 december 2018 00:00:00",
                    format: "on"
                },

                function () {
                    // callback function
                });
        });
    </script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','../../../../www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-60264400-3', 'auto');
  ga('send', 'pageview');

</script>

</body>


<!-- Mirrored from gnodesign.com/templates/cloudify/html/coming-soon.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 19 Jan 2017 13:13:45 GMT -->
</html>