<!DOCTYPE html>

<html lang="en">

{{>header}}

<body id="page-top">


    <!-- ===== Loader ===== -->
    <div class="loader">
        <div class="spinner">
            <div class="cloud1"><img src="images/clouds/cloud-blue.svg" alt=""></div>
            <div class="cloud2"><img src="images/clouds/cloud-green.svg" alt=""></div>
        </div>
    </div>
    <!-- ===== End of Loader ===== -->





    
    
    <!-- ===== Start of Header Navigation ===== -->
    {{>navbar}}
    <!-- ===== End of Header Navigation ===== -->
    
    


    <!-- ===== Main Section - Slider ===== -->
    <section class="demo1" id="home">
        <!-- Swiper -->
        <div class="swiper-container fullscreen">
            <div class="swiper-wrapper">
                <!-- Slide 1 -->
                <div class="swiper-slide overlay-black" style="background: url('images/img/image1.jpg'); background-size: cover;">
                    <div class="slider-content container">
                        <div class="col-md-12">
                            <h2>Get your own website <br> for free <span class="text-blue">and increase your reach</span>.</h2>
                            <p>Get the best speed for your website. Don’t lose anymore
                                <br>clients for not being digital.</p>
                            <div>
                                <a href="#" class="btn btn-border btn-blue"><i class="fa fa-star"></i>Get Started Now</a>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of Slide 1 -->

                <!-- Slide 2 -->
                <div class="swiper-slide overlay-black">
                    <div class="slider-content container">
                        <div class="col-md-12">
                            <h2>Zero Technical Knowledge <br> required <span class="text-blue">to be digital</span>.</h2>
                            <p>Get the best speed for your website. Don’t lose anymore
                                <br>clients for not being digital.</p>
                            <div>
                                <a href="#" class="btn btn-border btn-blue"><i class="fa fa-star"></i>Get Started Now</a>
                                
                            </div>
                        </div>
                    </div>
                    <video class="video-bg " preload="auto" loop="" autoplay="" poster="video/video.jpg">
                        <source src="video/video.mp4" type="video/mp4">
                        <source src="video/video.webm" type="video/webm">
                        <source src="video/video.ogv" type="video/ogg">
                    </video>
                </div>
                <!-- End of Slide 2 -->

                <!-- Slide 3 -->
                <div class="swiper-slide overlay-black" style="background: #29b2fe;">
                    <div class="slider-content container">
                        <div class="col-md-12">
                            <h2>Best  website builder <br> service for your <span class="text-blue">small business</span>.</h2>
                            <p>Get the best speed for your website. Don’t lose anymore
                                <br>clients for not being digital.</p>
                            <div>
                                <a href="#" class="btn btn-border btn-blue"><i class="fa fa-star"></i>Get Started Now</a>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of Slide 3 -->
            </div>
            <!-- End of Swiper Wrapper -->

            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>

            <!-- Navigation Buttons -->
            <div class="swiper-button-prev"><i class="fa fa-angle-left"></i></div>
            <div class="swiper-button-next"><i class="fa fa-angle-right"></i></div>

        </div>
        <!-- End of Swiper Container -->
    </section>
    <!-- ===== End of Main Section - Slider ===== -->


    <!-- ===== Start of Domain Section ===== -->
    <section class="domain ptb30">
        <div class="container">
            <div class="col-md-3">
                <h2 class="capitalize">Enter your <span class="text-blue">domain</span> now!</h2>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <!-- Start of Domain Search -->
                    <div class="form-group">
                        <input type="search" class="form-control" placeholder="Enter your domain name here">
                        <button type="submit" class="btn btn-border btn-blue">Next</button>
                    </div>
                    <!-- End of Domain Search -->
                </div>

            </div>
        </div>
    </section>
    <!-- ===== End of Domain Section ===== -->


    <!-- ===== Start of About ===== -->
    <section class="pt80" id="about">
        <div class="container">
            <div class="col-md-6">
                <h2 class="ptb20">Welcome to Web Unclocked</h2>
                <p>India has 51 million small and medium businesses (SMBs) today that contribute 37% to India’s GDP. Out of these, only 32% are online or are leveraging the power of the digital. It is the balance 68% that Google India wants to digitally empower through our services. we aim to provide you withn a plaatform which will enable them to create and customize their websites within minutes and without any technical knowledge.</p>
                <a href="#" class="btn btn-border btn-blue">Lear More</a>
            </div>

            <!-- About Image -->
            <div class="col-md-6 about-image">
                <img src="images/img/about.svg" alt="">
            </div>

            <!-- Clouds that are used in the animation -->
            <div class="clouds">
                <img src="images/clouds/cloud1.svg" alt="" class="cloud1">
                <img src="images/clouds/cloud2.svg" alt="" class="cloud2">
                <img src="images/clouds/cloud3.svg" alt="" class="cloud3">
                <img src="images/clouds/cloud1.svg" alt="" class="cloud4">
                <img src="images/clouds/cloud3.svg" alt="" class="cloud5">
            </div>
        </div>
    </section>
    <!-- ===== End of of About ===== -->


    <!-- ===== Start of Services ===== -->
    <section id="services">
        <div class="container ptb80">
            <div class="section-title">
                <h2>Features</h2>
                <p>Websites and eCommerce in one place. So you can focus on what you love.</p>
            </div>
            
            <!-- 1st Row of Service Section -->

            <!-- End of 2nd Row of Service Section -->
        </div>

        <!-- Start of Info 1 -->
        <div class="container-fluid ptb80 info">
            <div class="container">
                <div class="col-md-6 info-text">
                    <h3 class="pb20">Business Websites</h3>
                    <p>We provide you a platform that will enable you to showcase your products and business in a simple sleky website within minutes.</p>
                    <ul>
                        <li>Super clean code.</li>
                        <li>Well commented.</li>
                        <li>Documentation included.</li>
                    </ul>
                </div>
                <div class="col-md-4 col-md-offset-2 info-image">
                    <img src="images/icons/custom.svg" alt="">
                </div>
            </div>
        </div>
        <!-- End of Info 1 -->

        <!-- Start of Info 2 -->
        <div class="container-fluid ptb80 info" id="secondary">
            <div class="container">
                <div class="col-md-4 info-image">
                    <img src="images/icons/pixel-perfect.svg" alt="">
                </div>
                <div class="col-md-offset-2 col-md-6 info-text">
                    <h3 class="pb20">Sell more with powerful eCommerce</h3>
                    <p>Building an ecommerce store is now not difficult. Just build your own ecommerce store ithin minutes and start selling online</p>
                    <ul>
                        <li>Beautiful design .</li>
                        <li>Complete platform.</li>
                        <li>Advanced tools.</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- End of Info 2 -->

        <!-- Start of Info 3 -->
        <div class="container-fluid ptb80 info">
            <div class="container">
                <div class="col-md-6 info-text">
                    <h3 class="pb20">Fully Responsive</h3>
                    <p>Web Unlocked adapts and provides an optimal experience on any device it’s being accessed from. This means that your website should look and function flawlessly for a user on a desktop computer, laptop, tablet, or smartphone. </p>
                    <ul>
                        <li>Pixel Perfect</li>
                        <li>Svg graphics.</li>
                        <li>Retina ready.</li>
                    </ul>
                </div>
                <div class="col-md-4 col-md-offset-2 info-image">
                    <img src="images/icons/responsive-design.svg" alt="">
                </div>
            </div>
        </div>
        <!-- End of Info 3 -->
    </section>
    <!-- ===== End of Service Section ===== -->


    <!-- ===== Start of Subscribe ===== -->
    <section class="ptb40" id="subscribe">
        <div class="container subscribe-form">
            <div class="col-md-3 col-sm-12">
                <h2 class="uppercase">Subscribe<small class="capitalize">Newsletter</small></h2>
            </div>
            <div class="col-md-9 col-sm-12">
                <!-- Start of Form -->
                <form action="#" class="form-inline mailchimp" id="subscribtion-form-not">
                    <!-- subscribe result -->
                    <div id="subscribe-result"></div>
                    <!-- end of subscribe result -->

                    <div class="form-group">
                        <div class="input-group">
                            <input type="email" name="email" class="form-control" placeholder="Email Address">
                            <button type="submit" class="btn btn-border btn-blue">Submit</button>
                        </div>
                    </div>
                </form>
                <!-- End of Form -->
            </div>

            <!-- Clouds used for the Animation -->
            <div class="clouds">
                <img src="images/clouds/cloud1.svg" class="cloud1" alt="">
                <img src="images/clouds/cloud2.svg" class="cloud2" alt="">
            </div>
            <!-- End of Clouds -->
        </div>
    </section>
    <!-- ===== End of Subscribe ===== -->


    <!-- ===== Start of Team ===== -->
    <section id="team">
        <div class="container ptb80">
            <div class="section-title">
                <h2> Meet The Team </h2>
                
            </div>

            <!-- Team Member 1 -->
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="member">
                    <div class="member-details">
                        <img src="images/team/team1.jpg" class="img-responsive" alt="">
                        <div class="overlay">
                            <div class="member-info-overlay">
                                <h4>Yash Jindal</h4>
                                <p>14BIT0153</p>
                            </div>
                            <div class="member-social">
                                <a href="https://www.facebook.com/yash.jindal1996" class="facebook"><i class="fa fa-facebook"></i></a>
                                <a href="#" class="google"><i class="fa fa-google-plus"></i></a>
                                <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Yash Jindal</h4>
                        <p>14BIT0153</p>
                    </div>
                </div>
            </div>
            <!-- End of Team Member 1 -->

            <!-- Team Member 2 -->
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="member">
                    <div class="member-details">
                        <img src="images/team/team2.jpg" class="img-responsive" alt="">
                        <div class="overlay">
                            <div class="member-info-overlay">
                                <h4>Nimesh Khandelwal</h4>
                                <p>14BIT0196</p>
                            </div>
                            <div class="member-social">
                                <a href="https://www.facebook.com/nimeshkhandelwa" class="facebook"><i class="fa fa-facebook"></i></a>
                                <a href="#" class="google"><i class="fa fa-google-plus"></i></a>
                                <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Nimesh Khandelwal</h4>
                        <p>14BIT0196</p>
                    </div>
                </div>
            </div>
            <!-- End of Team Member 2 -->

            <!-- Team Member 3 -->
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="member">
                    <div class="member-details">
                        <img src="images/team/team3.jpg" class="img-responsive" alt="">
                        <div class="overlay">
                            <div class="member-info-overlay">
                                <h4>Arpit Jain</h4>
                                <p>14BIT0120</p>
                            </div>
                            <div class="member-social">
                                <a href="https://www.facebook.com/profile.php?id=100004295701973" class="facebook"><i class="fa fa-facebook"></i></a>
                                <a href="#" class="google"><i class="fa fa-google-plus"></i></a>
                                <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Arpit Jain</h4>
                        <p>14BIT0120</p>
                    </div>
                </div>
            </div>
            <!-- End of Team Member 3 -->
        </div>
    </section>
    <!-- ===== End of Team ===== -->


    



    <!-- ===== Start of Testimonial ===== -->
    <section class="pt80 pb40" id="testimonials">
        <div class="container">
            <div class="section-title">
                <h2> Testimonials </h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
            </div>

            <!-- Start of Owl Slider -->
            <div class="owl-carousel testimonial">

                <!-- Start of Slide item -->
                <div class="item">
                    <div class="review">
                        <div class="review-inner text-center">
                            <blockquote>They want you to succeed. They want you to be your own boss </blockquote>
                            <img src="images/clouds/cloud-blue.svg" alt="">
                        </div>
                    </div>
                    <div class="customer">
                        <h3 class="uppercase">customer</h3>
                        <span>Usha Insulation</span>
                    </div>
                </div>
                <!-- End Slide item -->

                <!-- Start of Slide item -->
                <div class="item">
                    <div class="review">
                        <div class="review-inner text-center">
                            <blockquote>Web unlocked gives our customers confidence in our companyum has been the industry's standard dummy text. </blockquote>
                            <img src="images/clouds/cloud-blue.svg" alt="">
                        </div>
                    </div>
                    <div class="customer">
                        <h3 class="uppercase">customer</h3>
                        <span>Jain Marbles</span>
                    </div>
                </div>
                <!-- End Slide item -->

                <!-- Start of Slide item -->
                <div class="item">
                    <div class="review">
                        <div class="review-inner text-center">
                            <blockquote>You have exposure to millions and millions of people </blockquote>
                            <img src="images/clouds/cloud-blue.svg" alt="">
                        </div>
                    </div>
                    <div class="customer">
                        <h3 class="uppercase">customer</h3>
                        <span>Chacha Heaven</span>
                    </div>
                </div>
                <!-- End Slide item -->

            </div>
            <!-- End of Owl Slider -->
        </div>
    </section>
    <!-- ===== End of Testimonial ===== -->




   



    <!-- ===== Start of Footer ===== -->
    {{>footer}}
    <!-- ===== End of Footer ===== -->



    



    <!-- ===== Start of Login Pop Up div ===== -->
    <div class="cd-user-modal">
        <!-- this is the entire modal form, including the background -->
        <div class="cd-user-modal-container">
            <!-- this is the container wrapper -->
            <ul class="cd-switcher">
                <li><a href="#0">Sign in</a></li>
                <li><a href="#1">New account</a></li>
            </ul>

            <div id="cd-login">
                <!-- log in form -->
                <form class="cd-form">
                    <p class="fieldset">
                        <label class="image-replace cd-email" for="signin-email">E-mail</label>
                        <input class="full-width has-padding has-border" id="signin-email" type="email" placeholder="E-mail">
                    </p>
                    <p class="fieldset">
                        <label class="image-replace cd-password" for="signin-password">Password</label>
                        <input class="full-width has-padding has-border" id="signin-password" type="password" placeholder="Password">
                    </p>
                    <p class="fieldset">
                        <input type="checkbox" id="remember-me" checked>
                        <label for="remember-me">Remember me</label>
                    </p>
                    <p class="fieldset">
                        <button type="submit" value="Login" class="btn btn-border btn-blue">Login</button>
                    </p>
                </form>
            </div>
            <!-- cd-login -->

            <div id="cd-signup">
                <!-- sign up form -->
                <form class="cd-form">
                    <p class="fieldset">
                        <label class="image-replace cd-username" for="signup-username">Username</label>
                        <input class="full-width has-padding has-border" id="signup-username" type="text" placeholder="Username">
                    </p>
                    <p class="fieldset">
                        <label class="image-replace cd-email" for="signup-email">E-mail</label>
                        <input class="full-width has-padding has-border" id="signup-email" type="email" placeholder="E-mail">
                    </p>
                    <p class="fieldset">
                        <label class="image-replace cd-password" for="signup-password">Password</label>
                        <input class="full-width has-padding has-border" id="signup-password" type="password" placeholder="Password">
                    </p>
                    <p class="fieldset">
                        <input type="checkbox" id="accept-terms">
                        <label for="accept-terms">I agree to the <a href="#0">Terms</a></label>
                    </p>
                    <p class="fieldset">
                        <button class="btn btn-border btn-blue" type="submit" value="Create account">Create Account</button>
                    </p>
                </form>
            </div>
            <!-- cd-signup -->
        </div>
        <!-- cd-user-modal-container -->
    </div>
    <!-- cd-user-modal -->
    <!-- ===== End of Login Pop Up div ===== -->



    <!-- ===== All Javascript at the bottom of the page for faster page loading ===== -->
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/swiper.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/simple-expand.min.js"></script>
    <script src="js/jquery.countTo.js"></script>
    <script src="js/jquery.inview.min.js"></script>
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/jquery.nav.js"></script>
    <script src="js/jquery.ajaxchimp.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/jquery.easypiechart.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/isotope.pkgd.min.js"></script>
    <script src="js/custom.js"></script>
    

</script>

</body>
</html>