<!DOCTYPE html>

<html lang="en">

{{>header}}

<body id="page-top">


    <!-- ===== Loader ===== -->
    <div class="loader">
        <div class="spinner">
            <div class="cloud1"><img src="images/clouds/cloud-blue.svg" alt=""></div>
            <div class="cloud2"><img src="images/clouds/cloud-green.svg" alt=""></div>
        </div>
    </div>
    <!-- ===== End of Loader ===== -->





    
    
    <!-- ===== Start of Header Navigation ===== -->
    {{>navbar}}
    <!-- ===== End of Header Navigation ===== -->




    <!-- ===== Main Section ===== -->
    <section class="login-page fullscreen overlay-blue">
        <!-- Main Content -->
        <div class="login-box">

            <!-- Start of Login Form -->
            <form action="#" id="login-form">
                <div class="text-center">
                    <h3 class="uppercase">login</h3>
                </div>
                
                <input type="email" class="form-control mt15" placeholder="Email" required>
                <input type="password" class="form-control mt15" placeholder="Password" required>
                
                <div class="control-group mt15">
                    <input type="checkbox" id="remember">
                    <label> Remember Me?</label>
                </div>

                <div class="mt15 text-center">
                    <a href="#0" class="btn btn-border btn-blue btn-dark nomargin">Login</a>
                </div>
                
                <div class="mt10 text-center">
                    <a href="register.html" id="forgot">Forgot your Password?</a>
                </div>
            </form>
            <!-- End of Login Form -->

        </div>
        <!-- End of Main Content -->
    </section>
    <!-- ===== End of Main Section =====  -->





    <!-- ===== All Javascript at the bottom of the page for faster page loading ===== -->
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/swiper.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/simple-expand.min.js"></script>
    <script src="js/jquery.countTo.js"></script>
    <script src="js/jquery.inview.min.js"></script>
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/jquery.nav.js"></script>
    <script src="js/jquery.ajaxchimp.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/jquery.easypiechart.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/isotope.pkgd.min.js"></script>
    <script src="js/custom.js"></script>
    


</body>



</html>