<!DOCTYPE html>

<html lang="en">


<!-- Mirrored from gnodesign.com/templates/cloudify/html/pricing.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 19 Jan 2017 13:13:43 GMT -->
{{>header}}

<body>


    <!-- ===== Loader ===== -->
    <div class="loader">
        <div class="spinner">
            <div class="cloud1"><img src="images/clouds/cloud-blue.svg" alt=""></div>
            <div class="cloud2"><img src="images/clouds/cloud-green.svg" alt=""></div>
        </div>
    </div>
    <!-- ===== End of Loader ===== -->


    <!-- ===== Top Header ===== -->
    <div class="top-header">
        <div class="container">
            <div class="row">
                <!-- phone and social begin -->
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <ul class="social list-inline ptb10">
                        <li><a href="tel:12345678912">123 - 456 - 78912</a></li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                    </ul>
                </div>
                <!-- phone and social end -->

                <div class="col-md-6 col-sm-6 col-xs-12">
                    <!-- chat and account button begin -->
                    <ul class="top-button ptb10">
                        <li>
                            <a href="#" class="btn btn-small btn-border btn-green customer-support"><i class="fa fa-comments"></i>live chat</a>
                        </li>
                        <li class="login">
                            <a id="modal_trigger" class="btn btn-small btn-border-rev btn-blue" href="#"><i class="fa fa-user"></i>Client Area</a>
                        </li>
                    </ul>
                    <!-- chat and account button end -->
                </div>
            </div>
        </div>
    </div>
    <!-- ===== End of Top Header ===== -->




    <!-- ===== Start of Header Navigation ===== -->
    {{>navbar}}
    <!-- ===== End of Header Navigation ===== -->





    <!-- ===== Start of Page Title ===== -->
    <section class="page-title ptb50 overlay-black">
        <div class="container">
            <h2 class="uppercase">Pricing Tables</h2>
            <div class="breadcrumbs pt10">
                <h5><a href="index-2.html">Home</a> / Pages</h5>
            </div>
        </div>
    </section>
    <!-- ===== End of Page Title ===== -->





    <!-- ===== Start of Pricing Page Section 1 ===== -->
    <section class="pricing-page1 ptb80">
        <div class="container">
            
            <!-- Start of Row -->
            <div class="row">
                <div class="section-title">
                    <h2>Pricing Table 1</h2>
                </div>

                <!-- Start of Pricing Table 1 -->
                <div class="pricing-table1">

                    <!-- start of 1st price table -->
                    <div class="col-sm-3 pricing-plan" id="starter">
                        <!-- start price section -->
                        <div class="row price">
                            <div>
                                <span class="currency">$</span>
                                <span class="amount">19</span>
                                <span class="month">per month</span>
                            </div>
                        </div>
                        <!-- end of price section -->
                        <div class="plan-type">
                            <span>Starter</span>
                        </div>
                        <!-- start of detail section -->
                        <ul class="nav">
                            <li>3 Email Account</li>
                            <li>1 Website Layout</li>
                            <li>5GB Space</li>
                            <li><i class="fa fa-times"></i></li>
                            <li><i class="fa fa-times"></i></li>
                            <li><i class="fa fa-times"></i></li>
                        </ul>
                        <a href="#" class="btn btn-border btn-blue">purchase</a>
                        <!-- end of detail section -->
                    </div>
                    <!-- end of 1st price table -->

                    <!-- start of 2nd price table -->
                    <div class="col-sm-3 pricing-plan" id="basic">
                        <!-- start price section -->
                        <div class="row price">
                            <div>
                                <span class="currency">$</span>
                                <span class="amount">39</span>
                                <span class="month">per month</span>
                            </div>
                        </div>
                        <!-- end of price section -->
                        <div class="plan-type">
                            <span>basic</span>
                        </div>
                        <!-- start of detail section -->
                        <ul class="nav">
                            <li>10 Email Account</li>
                            <li>3 Website Layout</li>
                            <li>10GB Space</li>
                            <li><i class="fa fa-check"></i></li>
                            <li><i class="fa fa-times"></i></li>
                            <li><i class="fa fa-times"></i></li>
                        </ul>
                        <a href="#" class="btn btn-border btn-blue">purchase</a>
                        <!-- end of detail section -->
                    </div>
                    <!-- end of 2nd price table -->

                    <!-- start of 3rd price table -->
                    <div class="col-sm-3 pricing-plan" id="agency">
                        <!-- start price section -->
                        <div class="row price">
                            <div>
                                <span class="currency">$</span>
                                <span class="amount">69</span>
                                <span class="month">per month</span>
                            </div>
                        </div>
                        <!-- end of price section -->
                        <div class="plan-type">
                            <span>agency</span>
                        </div>
                        <!-- start of detail section -->
                        <ul class="nav">
                            <li>100 Email Account</li>
                            <li>10 Website Layout</li>
                            <li>100GB Space</li>
                            <li><i class="fa fa-check"></i></li>
                            <li><i class="fa fa-check"></i></li>
                            <li><i class="fa fa-times"></i></li>
                        </ul>
                        <a href="#" class="btn btn-border btn-blue">purchase</a>
                        <!-- end of detail section -->
                    </div>
                    <!-- end of 3rd price table -->

                    <!-- start of 4th price table -->
                    <div class="col-sm-3 pricing-plan" id="enterprise">
                        <!-- start price section -->
                        <div class="row price">
                            <div>
                                <span class="currency">$</span>
                                <span class="amount">99</span>
                                <span class="month">per month</span>
                            </div>
                        </div>
                        <!-- end of price section -->
                        <div class="plan-type">
                            <span>enterprise</span>
                        </div>
                        <!-- start of detail section -->
                        <ul class="nav">
                            <li><strong>Unlimited</strong></li>
                            <li>100 Website Layout</li>
                            <li><strong>Unlimited Space</strong></li>
                            <li><i class="fa fa-check"></i></li>
                            <li><i class="fa fa-check"></i></li>
                            <li><i class="fa fa-check"></i></li>
                        </ul>
                        <a href="#" class="btn btn-border btn-blue">purchase</a>
                        <!-- end of detail section -->
                    </div>
                    <!-- end of 4th price table -->
                </div>
                <!-- End of Pricing Table 1 -->
            </div>
            <!-- End of Row -->

        </div>
    </section>
    <!-- ===== End of Pricing Page Section 1 ===== -->
    
    
    
    
    
    <!-- ===== Start of Pricing Page Section 2 ===== -->
    <section class="pricing-page2 pb80">
        <div class="container">

            <!-- Start of Row -->
            <div class="row mt80">
                <div class="section-title">
                    <h2>Pricing Table 2</h2>
                </div>

                <!-- Start of Pricing Table 2 -->
                <div class="pricing-table2">
                    <!-- Table 1 -->
                    <div class="col-md-4 pricing-plan">
                        <div class="price-wrapper">
                            <div class="pricing-header text-center">
                                <h4 class="uppercase">Basic</h4>

                                <div class="price">
                                    <span class="currency mt10">$</span>
                                    <span class="value">19</span>
                                    <span class="duration">mo</span>
                                </div>
                            </div>
                            <!-- end pricing-header -->

                            <div class="pricing-body">
                                <ul class="pricing-features">
                                    <li><em>256MB</em> Memory</li>
                                    <li><em>1</em> User</li>
                                    <li><em>1</em> Website</li>
                                    <li><em>1</em> Domain</li>
                                    <li><em>Unlimited</em> Bandwidth</li>
                                    <li>None</li>
                                </ul>
                            </div>
                            <!-- end pricing-body -->

                            <div class="mtb30 text-center">
                                <a class="btn btn-border btn-blue btn-dark" href="#">Select</a>
                            </div>
                            <!-- end pricing-footer -->
                        </div>
                    </div>
                    <!-- End Table 1 -->

                    <!-- Table 2 -->
                    <div class="col-md-4 pricing-plan">
                        <div class="price-wrapper popular">
                            <div class="pricing-header text-center">
                                <h4 class="uppercase">Popular</h4>

                                <div class="price">
                                    <span class="currency mt10">$</span>
                                    <span class="value">69</span>
                                    <span class="duration">mo</span>
                                </div>
                            </div>
                            <!-- end cd-pricing-header -->

                            <div class="pricing-body">
                                <ul class="pricing-features">
                                    <li><em>512MB</em> Memory</li>
                                    <li><em>3</em> Users</li>
                                    <li><em>5</em> Websites</li>
                                    <li><em>7</em> Domains</li>
                                    <li><em>Unlimited</em> Bandwidth</li>
                                    <li><em>24/7</em> Support</li>
                                </ul>
                            </div>
                            <!-- end pricing-body -->

                            <div class="mtb30 text-center">
                                <a class="btn btn-border btn-blue btn-dark" href="#">Select</a>
                            </div>
                            <!-- end pricing-footer -->
                        </div>
                    </div>
                    <!-- End Table 2 -->

                    <!-- Table 3 -->
                    <div class="col-md-4 pricing-plan">
                        <div class="price-wrapper">
                            <div class="pricing-header text-center">
                                <h4 class="uppercase">Standard</h4>

                                <div class="price">
                                    <span class="currency mt10">$</span>
                                    <span class="value">39</span>
                                    <span class="duration">mo</span>
                                </div>
                            </div>
                            <!-- end pricing-header -->

                            <div class="pricing-body">
                                <ul class="pricing-features">
                                    <li><em>256MB</em> Memory</li>
                                    <li><em>2</em> User</li>
                                    <li><em>3</em> Website</li>
                                    <li><em>5</em> Domain</li>
                                    <li><em>Unlimited</em> Bandwidth</li>
                                    <li><em>24/7</em> Support</li>
                                </ul>
                            </div>
                            <!-- end pricing-body -->

                            <div class="mtb30 text-center">
                                <a class="btn btn-border btn-blue btn-dark" href="#">Select</a>
                            </div>
                            <!-- end pricing-footer -->
                        </div>
                    </div>
                    <!-- End Table 3 -->
                </div>
                <!-- End of Pricing Table 2 -->
            </div>
            <!-- End of Row -->

        </div>
    </section>
    <!-- ===== End of Pricing Page Section 2 ===== -->




    <!-- ===== Start of Buy Now Section ===== -->
    <section class="buy-now ptb80">
        <div class="container">
            <div class="col-md-12 text-center">
                <h2 class="text-white">Do you like <span class="text-blue">Cloudify</span>?</h2>
                <h2 class="text-white pb20">Buy it now and become a Top Hosting Company!</h2>
                <a href="https://themeforest.net/item/cloudify-one-page-web-hosting-html-template/18398632?ref=gnodesign" target="_blank" class="btn btn-border btn-blue text-white nomargin">purchase now</a>
            </div>
        </div>
    </section>
    <!-- ===== End of Buy Now Section ===== -->





    <!-- ===== Start of Footer ===== -->
    {{>footer}}
    <!-- ===== End of Footer ===== -->



    <!-- ===== Start of Live Chat ===== -->
    <div class="live-chat collapsed">

        <!-- start of live chat header -->
        <div class="header">
            <a href="#" onclick="return(false);" class="chat-close"><i class="fa fa-times"></i></a>
            <h4>Live Chat</h4>
            <span class="chat-message-counter">1</span>
        </div>
        <!-- end of live chat header -->

        <!-- start of chat -->
        <div class="chat">
            <!-- start of chat history -->
            <div class="chat-history">
                <!-- start of chat message -->
                <div class="chat-message">
                    <img src="images/team/team1.jpg" alt="">
                    <!-- start of chat message content -->
                    <div class="chat-message-content">
                        <span class="chat-time">18:35</span>
                        <h5>Customer Support</h5>
                        <p>Welcome. How may I help you?</p>
                    </div>
                    <!-- end of chat message content -->
                </div>
                <!-- end of chat message -->
                <hr>

                <!-- start of chat message -->
                <div class="chat-message">
                    <img src="images/team/team1.jpg" alt="">
                    <!-- start of chat message content -->
                    <div class="chat-message-content">
                        <span class="chat-time">18:36</span>
                        <h5>John Doe</h5>
                        <p>Hello. Can you please help me to transfer my domain from my previous server?</p>
                    </div>
                    <!-- end of chat message content -->
                </div>
                <!-- end of chat message -->
                <hr>
            </div>
            <!-- end of chat history -->

            <p class="chat-feedback">Customer Support is typing…</p>
            <!-- start of chat form -->
            <form action="#" method="post" onsubmit="this.reset(); return false;">
                <fieldset>
                    <input type="text" placeholder="Type your message…">
                </fieldset>
            </form>
            <!-- end of chat form -->
        </div>
        <!-- end of chat -->
    </div>
    <!-- ===== End of Live Chat ===== -->



    <!-- ===== Start of Login Pop Up div ===== -->
    <div class="cd-user-modal">
        <!-- this is the entire modal form, including the background -->
        <div class="cd-user-modal-container">
            <!-- this is the container wrapper -->
            <ul class="cd-switcher">
                <li><a href="#0">Sign in</a></li>
                <li><a href="#1">New account</a></li>
            </ul>

            <div id="cd-login">
                <!-- log in form -->
                <form class="cd-form">
                    <p class="fieldset">
                        <label class="image-replace cd-email" for="signin-email">E-mail</label>
                        <input class="full-width has-padding has-border" id="signin-email" type="email" placeholder="E-mail">
                    </p>
                    <p class="fieldset">
                        <label class="image-replace cd-password" for="signin-password">Password</label>
                        <input class="full-width has-padding has-border" id="signin-password" type="password" placeholder="Password">
                    </p>
                    <p class="fieldset">
                        <input type="checkbox" id="remember-me" checked>
                        <label for="remember-me">Remember me</label>
                    </p>
                    <p class="fieldset">
                        <button type="submit" value="Login" class="btn btn-border btn-blue">Login</button>
                    </p>
                </form>
            </div>
            <!-- cd-login -->

            <div id="cd-signup">
                <!-- sign up form -->
                <form class="cd-form">
                    <p class="fieldset">
                        <label class="image-replace cd-username" for="signup-username">Username</label>
                        <input class="full-width has-padding has-border" id="signup-username" type="text" placeholder="Username">
                    </p>
                    <p class="fieldset">
                        <label class="image-replace cd-email" for="signup-email">E-mail</label>
                        <input class="full-width has-padding has-border" id="signup-email" type="email" placeholder="E-mail">
                    </p>
                    <p class="fieldset">
                        <label class="image-replace cd-password" for="signup-password">Password</label>
                        <input class="full-width has-padding has-border" id="signup-password" type="password" placeholder="Password">
                    </p>
                    <p class="fieldset">
                        <input type="checkbox" id="accept-terms">
                        <label for="accept-terms">I agree to the <a href="#0">Terms</a></label>
                    </p>
                    <p class="fieldset">
                        <button class="btn btn-border btn-blue" type="submit" value="Create account">Create Account</button>
                    </p>
                </form>
            </div>
            <!-- cd-signup -->
        </div>
        <!-- cd-user-modal-container -->
    </div>
    <!-- cd-user-modal -->
    <!-- ===== End of Login Pop Up div ===== -->



    <!-- ===== All Javascript at the bottom of the page for faster page loading ===== -->
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/swiper.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/simple-expand.min.js"></script>
    <script src="js/jquery.countTo.js"></script>
    <script src="js/jquery.inview.min.js"></script>
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/jquery.nav.js"></script>
    <script src="js/jquery.ajaxchimp.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/jquery.easypiechart.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/isotope.pkgd.min.js"></script>
    <script src="js/custom.js"></script>
    
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','../../../../www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-60264400-3', 'auto');
  ga('send', 'pageview');

</script>

</body>


<!-- Mirrored from gnodesign.com/templates/cloudify/html/pricing.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 19 Jan 2017 13:13:43 GMT -->
</html>